html, body {
    min-width: 390px;
    max-width: 780px;
    margin: 0 auto;
    padding: 6px;
}

a {
    text-decoration: none;
    color: blue;
}

table {
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}
