<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,user-scalable=no" name="viewport">
    <title>计划任务</title>
</head>
<style>
    a {
        text-decoration: none;
        color: blue;
    }
</style>
<body>
计划任务上传 | <a href="history">计划任务记录</a> | <a href="logout">退出</a>
<form action="./antigen-form" method="post" enctype="multipart/form-data">
    <p>学号：{{ username }}</p>
    <p>姓名：{{ name }}</p>
    <p><label>类型：</label>
        <label>
            <input id="antigen" type="radio" name="type" value="1" checked>
        </label>
        <label for="antigen">抗原</label>
        <label>
            <input id="pcr" type="radio" name="type" value="2">
        </label>
        <label for="pcr">核酸</label>
    </p>
    <p>
        <label>方式：</label>
        <label>
            <input id="nose" type="radio" name="method" value="1" checked>
        </label>
        <label for="nose">鼻腔</label>
        <label>
            <input id="nose_throat" type="radio" name="method" value="2">
        </label>
        <label for="nose_throat">鼻咽</label>
        <label>
            <input id="throat" type="radio" name="method" value="3">
        </label>
        <label for="throat">口腔</label>
    </p>
    <p>
        <label>次数：</label>
        <label>
            <input id="first" type="radio" name="test_times" value="1" checked>
        </label>
        <label for="first">第1次</label>
        <label>
            <input id="second" type="radio" name="test_times" value="2">
        </label>
        <label for="second">第2次</label>
    </p>
{#    <p>#}
{#        <label>计划：</label>#}
{#        <label>#}
{#            <input type="date" name="date" value="{{ date }}">#}
{#            <input type="time" name="time" value="{{ time }}">#}
{#        </label>#}
{#    </p>#}
    <p>
        <label>计划：</label>
        <label>
            2022
            /
            <select name="month" style="width: 3.5em">
                {% for m in month_list %}
                    <option value="{{ m }}"
                    {% if m == month %}
                        selected
                    {% endif %}
                    >{{ "%02d"|format(m) }}</option>
                {% endfor %}
            </select>
            /
            <select name="day" style="width: 3.5em">
                {% for d in day_list %}
                    <option value="{{ d }}"
                    {% if d == day %}
                        selected
                    {% endif %}
                    >{{ "%02d"|format(d) }}</option>
                {% endfor %}
            </select>
            -
            <select name="hour" style="width: 3.5em">
                {% for h in hour_list %}
                    <option value="{{ h }}"
                    {% if h == hour %}
                        selected
                    {% endif %}
                    >{{ "%02d"|format(h) }}</option>
                {% endfor %}
            </select>
            :
            <select name="minute" style="width: 3.5em">
                {% for m in minute_list %}
                    <option value="{{ m }}"
                    {% if m == minute %}
                        selected
                    {% endif %}
                    >{{ "%02d"|format(m) }}</option>
                {% endfor %}
            </select>
        </label>
    </p>
    <p>
        <label>结果：</label>
        <label>
            <input id="neg" type="radio" name="result" value="1" checked>
        </label>
        <label for="neg">阴性</label>
        <label>
            <input id="pos" type="radio" name="result" value="2">
        </label>
        <label for="pos">阳性</label>
    </p>
    <p>
        <label>图片：</label>
        <label>
            <input type="file" name="image" required>
        </label>
        <br><span style="font-size: 0.8em">图片不限大小，上传时自动压缩</span>
    </p>
    <p>
        <label>
            <input id="img_transform" type="checkbox" name="img_transform" value="1">
        </label>
        <label for="img_transform">对图片作随机变换</label>
        <br><label for="img_transform" style="font-size: 0.8em">开启后会对图片随机旋转、裁切、调整亮度等</label>
    </p>
    <p>
        <input type="submit" value="提交">
    </p>
</form>
</body>
</html>