<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,user-scalable=no" name="viewport">
    <title>计划任务</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
计划任务上传 | <a href="{{ url_for('history') }}">计划任务记录</a> | <a href="{{ url_for('account') }}">账户管理</a>
<form action="{{ url_for('antigen_form') }}" method="post" enctype="multipart/form-data">
    <p>学号：{{ username }}</p>
    <p>姓名：{{ name }}</p>
    <p><label>类型：</label>
        <label>
            <input id="antigen" type="radio" name="type" value="1" checked>
        </label>
        <label for="antigen">抗原</label>
        <label>
            <input id="pcr" type="radio" name="type" value="2">
        </label>
        <label for="pcr">核酸</label>
    </p>
    <p>
        <label>方式：</label>
        <label>
            <input id="nose" type="radio" name="method" value="1" checked>
        </label>
        <label for="nose">鼻腔</label>
        <label>
            <input id="nose_throat" type="radio" name="method" value="2">
        </label>
        <label for="nose_throat">鼻咽</label>
        <label>
            <input id="throat" type="radio" name="method" value="3">
        </label>
        <label for="throat">口腔</label>
    </p>
    <p>
        <label>快速选择：</label>
        <label>
            <input id="today_first" type="radio" name="quick" value="1" onclick="select_plan(1)">
        </label>
        <label for="today_first">今日(<span id="today_first_day"></span>) 第1次</label>
            <label style="padding-left: 1.5em">
                <input id="today_second" type="radio" name="quick" value="2" onclick="select_plan(2)">
            </label>
            <label for="today_second">第2次</label>
    </p>
{#    <p>#}
{#        <span style="padding-left: 5.3em">#}
{#            <label>#}
{#                <input id="today_second" type="radio" name="quick" value="1" onclick="select_plan(2)">#}
{#            </label>#}
{#            <label for="today_second">今日(<span id="today_second_day"></span>) 第2次</label>#}
{#        </span>#}
{#    </p>#}
    <p>
        <span style="padding-left: 5.3em">
            <label>
                <input id="tmr_first" type="radio" name="quick" value="3" onclick="select_plan(3)">
            </label>
            <label for="tmr_first">明日(<span id="tmr_first_day"></span>) 第1次</label>
            <label style="padding-left: 1.5em">
                <input id="tmr_second" type="radio" name="quick" value="4" onclick="select_plan(4)">
            </label>
            <label for="tmr_second">第2次</label>
        </span>
    </p>
{#    <p>#}
{#        <span style="padding-left: 5.3em">#}
{#            <label>#}
{#                <input id="tmr_second" type="radio" name="quick" value="1" onclick="select_plan(4)">#}
{#            </label>#}
{#            <label for="tmr_second">明日(<span id="tmr_second_day"></span>) 第2次</label>#}
{#        </span>#}
{#    </p>#}
    <p>
        <label>次数：</label>
        <label>
            <input id="first" type="radio" name="test_times" value="1">
        </label>
        <label for="first">第1次</label>
        <label>
            <input id="second" type="radio" name="test_times" value="2">
        </label>
        <label for="second">第2次</label>
    </p>
    {#    <p>#}
    {#        <label>计划：</label>#}
    {#        <label>#}
    {#            <input type="date" name="date" value="{{ date }}">#}
    {#            <input type="time" name="time" value="{{ time }}">#}
    {#        </label>#}
    {#    </p>#}
    <p>
        <label>计划：</label>
        <label>
            2022
            /
            <select name="month" style="width: 3.5em">
                {% for m in month_list %}
                    <option id="month_{{ m }}" value="{{ m }}"
                            {% if m == month %}
                            selected
                            {% endif %}
                    >{{ "%02d"|format(m) }}</option>
                {% endfor %}
            </select>
            /
            <select name="day" style="width: 3.5em">
                {% for d in day_list %}
                    <option id="day_{{ d }}" value="{{ d }}"
                            {% if d == day %}
                            selected
                            {% endif %}
                    >{{ "%02d"|format(d) }}</option>
                {% endfor %}
            </select>
            -
            <select name="hour" style="width: 3.5em">
                {% for h in hour_list %}
                    <option id="hour_{{ h }}" value="{{ h }}"
                            {% if h == hour %}
                            selected
                            {% endif %}
                    >{{ "%02d"|format(h) }}</option>
                {% endfor %}
            </select>
            :
            <select name="minute" style="width: 3.5em">
                {% for m in minute_list %}
                    <option value="{{ m }}"
                            {% if m == minute %}
                            selected
                            {% endif %}
                    >{{ "%02d"|format(m) }}</option>
                {% endfor %}
            </select>
        </label>
    </p>
    <p>
        <label>结果：</label>
        <label>
            <input id="neg" type="radio" name="result" value="1" checked>
        </label>
        <label for="neg">阴性</label>
        <label>
            <input id="pos" type="radio" name="result" value="2">
        </label>
        <label for="pos">阳性</label>
    </p>
    <p id="img_upload_form">
        <label>图片：</label>
        <label>
            <input id="image" type="file" name="image" required>
        </label>
        <br><span style="font-size: 0.8em">大小不限，上传时自动压缩</span>
    </p>
    <p id="img_watermark_form">
        <label>
            <input id="img_watermark" type="checkbox" name="img_watermark" value="1">
        </label>
        <label for="img_watermark">添加时间水印</label>
        <br><label for="img_watermark" style="font-size: 0.8em">为图片添加计划时间水印，可预览及直接分享</label>
    </p>
    <p id="img_transform_form">
        <label>
            <input id="img_transform" type="checkbox" name="img_transform" value="1">
        </label>
        <label for="img_transform">图片随机变换</label>
        <br><label for="img_transform" style="font-size: 0.8em">随机旋转、裁切、调整亮度</label>
    </p>
    <p>
        <label>
            <input id="random_img" type="checkbox" name="random_img" value="1">
        </label>
        <label for="random_img">使用生成图片</label>
        <br><label for="random_img" style="font-size: 0.8em">随机生成一张图片而不是上传</label>
        <br>
        <label for="random_img" style="font-size: 0.8em">
            <span id="random_img_warning" style="color: red; opacity: 0;height: 1em">
                警告：高危操作！
            </span>
        </label>
    </p>
    <p>
        <input type="submit" value="提   交">
    </p>
</form>
</body>
<script>
    // 先获取时间，12点前 first 选中，否则 second 选中
    let now = new Date();
    const today_month = now.getMonth() + 1;
    const today_day = now.getDate();
    const today_date = today_month + '-' + today_day;
    document.getElementById("today_first_day").innerText = today_date.toString();
    {#document.getElementById("today_second_day").innerText = today_date.toString();#}
    let tmr = now
    tmr.setDate(tmr.getDate() + 1);
    const tmr_month = tmr.getMonth() + 1;
    const tmr_day = tmr.getDate();
    const tmr_date = tmr_month + '-' + tmr_day;
    document.getElementById("tmr_first_day").innerText = tmr_date.toString();
    {#document.getElementById("tmr_second_day").innerText = tmr_date.toString();#}

    /*
    const hour = now.getHours();
    if (hour < 12 || hour > 22) {
        document.getElementById("first").checked = true;
    } else {
        document.getElementById("second").checked = true;
    }
    */

    function select_plan(plan_id) {
        if (plan_id === 1 || plan_id === 3) {
            document.getElementById("first").checked = true;
            document.getElementById("second").checked = false;
            document.getElementById("hour_7").selected = true;
        } else if (plan_id === 2 || plan_id === 4) {
            document.getElementById("first").checked = false;
            document.getElementById("second").checked = true;
            document.getElementById("hour_15").selected = true;
        }

        if (plan_id === 1 || plan_id === 2) {
            document.getElementById("month_" + today_month).selected = true;
            document.getElementById("day_" + today_day).selected = true;
        } else if (plan_id === 3 || plan_id === 4) {
            document.getElementById("month_" + tmr_month).selected = true;
            document.getElementById("day_" + tmr_day).selected = true;
        }
    }

    // 若 random_img 被选中，则隐藏 image 和 img_transform
    document.getElementById("random_img").onclick = function () {
        if (this.checked) {
            document.getElementById("image").required = false;
            document.getElementById("img_upload_form").setAttribute("style", "opacity: 0.4; pointer-events: none;");
            document.getElementById("img_transform_form").setAttribute("style", "opacity: 0.4; pointer-events: none;");
            document.getElementById("img_watermark_form").setAttribute("style", "opacity: 0.4; pointer-events: none;");
            document.getElementById("random_img_warning").style.opacity = "1";
        } else {
            document.getElementById("image").required = true;
            document.getElementById("img_upload_form").setAttribute("style", "");
            document.getElementById("img_transform_form").setAttribute("style", "");
            document.getElementById("img_watermark_form").setAttribute("style", "");
            document.getElementById("random_img_warning").style.opacity = "0";
        }
    }
</script>
</html>